/* navbar style */
.layout-container {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-radius: 10px;
  background: transparent;
  padding-top: 30px;
  width: 1076px;
  margin: auto;

}

.position-fixed {
  position: fixed;
  top: 0;
  z-index: 20;
}

.position-relative {
  position: relative;
}

.background-white {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
}

.logo {
  color: #272D38;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.nav-link {
  color: #272D38;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: lowercase;
 
  padding-left: 30px;
}

.logopart, .linkpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* hero-section style */

.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  width: 540px;
  margin: auto;
  height: 192px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
}

.image-text {
  position: absolute;
  top: 61%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.p-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: capitalize;
  color: #272d38;
}

.btn1 {
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 27.5px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #8eadd5;
  background-color: #8eadd5;
  width: 167px;
  height: 48px;
}

.margin-top {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.img-container{
  margin: auto;
  width: 100%;
  display: flex;
padding-left: 80px;
}

/* 
truest section style */
.text{
  color: #667085;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 100%; 
text-transform: capitalize;
text-align: center;
}
.margin-top-section{
  margin-top: 100px;
}

.t-bg{
  background-color: #FDFCFC;
  border-radius: 10px;
  width: 915px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
}
.flex-t{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.margin-t{
  padding-top: 50px;
}
.section-text{
color: #272D38;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27.5px;
text-transform: capitalize;
}

/* branding design */
.secondary-header{
color: #272D38;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%; 
text-transform: capitalize;
}
.flex-b{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
 
}
.b-text{
  color: #272D38;
font-size: 16px;
font-weight: 400;
line-height: 27.5px; 
text-transform: capitalize;
}
.r-text{
color: #272D38;
font-size: 16px;
font-weight: 400;
line-height: 27.5px; 
text-transform: capitalize;
text-align: center;
}
.mb{
  padding-bottom: 20px;
}

  .secondary-header1{
    color: #272D38;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    text-align: center;
    text-transform: capitalize;
    }


/* styles.module.css */

.card {
  width: 345px;
  height: 334px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.image-t {
  width: 129px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 96.5px;
  margin-bottom: 20px;
}

.title {
  color: #272D38;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  display: flex;
  width: 281px;
  height: 77px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #272D38;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-transform: capitalize;
}

.card-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  gap:79px;
 
}
.card-title{
  color:#272D38;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; 
  text-transform: capitalize;
}
.card-subtitle{
  color:#272D38;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
text-transform: capitalize;
padding-top:10px;
}


@media screen and (max-width: 768px) {
  .layout-container {
    width: 100%;
  }

  .navbar {
   align-items: center;
    height: auto;
  
  }

  .navbar .logopart,
  .navbar .linkpart {
    width: 100%;
    justify-content: center;
  }

  .navbar {
    margin-top: 20px; 
  }

  .logo {
    font-size: 18px; 
    text-align: start;
  }

  .nav-link {
    font-size: 14px; 
    padding-left: 5px; 
  }
  .section-header{
    font-size: 40px;
    text-align: center;
  }
  .image-text {
    flex-direction: column;  
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
.flex-container{
  flex-direction: column;
}
  
}