.layout-container {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-radius: 10px;
  background: transparent;
  padding-top: 20px;
}

.positon-fixed {
  position: fixed;
  top: 0;
  z-index: 20;
}

.position-relative {
  position: relative;
}

.background-white {
  background-color: white;
  border-radius: 10px;
}

.logo {
  color: #272D38;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.nav-link {
  color: #272D38;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: lowercase;
 
  padding-left: 30px;
}

.logopart, .linkpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .layout-container {
    width: 100%;
  }

  .navbar {
   align-items: center;
    height: auto;
  
  }

  .navbar .logopart,
  .navbar .linkpart {
    width: 100%;
    justify-content: center;
  }

  .navbar {
    margin-top: 20px; 
  }

  .logo {
    font-size: 18px; 
    text-align: start;
  }

  .nav-link {
    font-size: 14px; 
    padding-left: 5px; 
  }
}