/* navbar style */
.layout-container {
  max-width: 1076px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-radius: 10px;
  background: transparent;
  padding-top: 30px;
  width: 1076px;
  margin: auto;

}

.position-fixed {
  position: fixed;
  top: 0;
  z-index: 20;
}

.position-relative {
  position: relative;
}

.background-white {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
}

.logo {
  color: #272D38;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.nav-link {
  color: #272D38;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: lowercase;
 
  padding-left: 30px;
}

.logopart, .linkpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* hero-section style */

.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  width: 540px;
  margin: auto;
  height: 192px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
}

.image-text {
  position: absolute;
  top: 61%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.p-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  text-transform: capitalize;
  color: #272d38;
}

.btn1 {
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 27.5px;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #8eadd5;
  background-color: #8eadd5;
  width: 167px;
  height: 48px;
}

.margin-top {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.img-container{
  margin: auto;
  width: 100%;
  display: flex;
padding-left: 80px;
}

@media screen and (max-width: 768px) {
  .layout-container {
    width: 100%;
  }

  .navbar {
   align-items: center;
    height: auto;
  
  }

  .navbar .logopart,
  .navbar .linkpart {
    width: 100%;
    justify-content: center;
  }

  .navbar {
    margin-top: 20px; 
  }

  .logo {
    font-size: 18px; 
    text-align: start;
  }

  .nav-link {
    font-size: 14px; 
    padding-left: 5px; 
  }
}